<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@empresa, remote: remote, html: {role: :form, 'data-model' => 'empresa'}) do |f| %>

  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, class: 'control-label' %>
    <%= f.text_field :nombre, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-default' %>
  </div>
<% end %>
